* { margin: 0px; padding: 0px; position: relative; }

body {
	overflow: hidden;
	font-family: sans-serif;	
}

canvas {
	border: solid 1px black;
	width: 90vw;
	height: 50vw;
	margin-left: 5vw;
	margin-top: 10px;
}

#infos {
	margin: 10px;

}


